:root {
    --main-green:#596D48;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.2rem;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(40vw, 2fr) 3fr;
    grid-template-areas: "img info";
}

.img-container {
    background-image: url(background.jpg);
    background-size: cover;
    color: white;
    position: relative;
}

.img-container > div {
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caesar Dressing", 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.3rem;
}

.img-container > figcaption {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.8rem;
}

figcaption > a {
    color: inherit;
}

.info-container {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 4rem 0;
}

.info-container > *:not(button) {
    padding: 1rem 2.5rem;
}

.info-container > div {
    max-width: 65ch;
    margin-bottom: 1.5rem;
}

p:nth-child(2) {
    margin-bottom: 1rem;
}

.info-container span {
    font-style: italic;
}

.info-container > fieldset {
    background-color: white;
}

.info-container > div,
fieldset > p,
.info-container a,
.info-container button {
    font-weight: 500;
}

fieldset {
    border: none;
    box-shadow: 1px 3px 4px rgba(128, 128, 128, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem 2rem;
}

fieldset > p {
    margin: -0.1rem 0 0;
    grid-column: 1 / -1;
}

label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    display: block;
}

input {
    appearance: none;
    width: 12rem;
    line-height: 1.2rem;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}

input:focus {
    appearance: none;
    outline: 1.5px solid rgb(46, 86, 245);
    box-shadow: 1px 3px 4px rgba(128, 128, 128, 0.5);
}

input[type="password"]:invalid {
    outline: 1.5px solid red;
}

input[type="password"]:invalid+span::after {
    content: "*Passwords do not match";
    color: red;
    font-size: 0.7rem;
    font-style: normal;
}

div:last-child > input {
    margin-bottom: 1rem;
}

button {
    margin: 1.5rem 2.5rem 1rem;
    padding: 0.8em 2em;
    font-size: 0.9rem;
    background-color: var(--main-green);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 4px rgba(128, 128, 128, 0.5);
}

button:hover {
    cursor: pointer;
}

.info-container a {
    text-decoration: none;
    color: var(--main-green);
}


